name: Trigger acceptance tests

on:
  push:
    # Sadly it doesn't seem to be possible to run these acceptance tests
    # on pull request branches. GitHub actions won't seem to let us
    # parameterise the version of the action we use (i.e. cucumber/action-publish-subrepo@some-version)
    # such that we could run the version from the PR branch. Oh well.
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: aurelien-baudet/workflow-dispatch@3133c5d135c7dbe4be4f9793872b6ef331b53bc7 # v4.0.0
        with:
          workflow: Publish subrepo
          repo: cucumber/action-publish-subrepo-test-monorepo
          token: ${{ secrets.TOKEN }}
          ref: refs/heads/main
