name: Unit tests

on:
  push:

jobs:
  run-unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - run: python3 -m pip install --user git-filter-repo
      - run: ./test

