name: Unit tests

on:
  push:

jobs:
  run-unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - run: python3 -m pip install --user git-filter-repo
      - run: ./test

